<div class="card">
    <h2 [ngStyle]="{
        color: card.title.length < 10 ? 'red' : 'blue',
        fontWeight: card.title.length < 10 ? 'normal' : 'bold'
    }">{{ index }} {{ card.title }}</h2>

    <!-- <p class='text' [ngClass]="{
        blue: textColor === 'blue',
        red: textColor === 'red',
        green: textColor === 'green'
        }">{{ card.text }}</p> -->

    <p 
        class="text" 
        [class.blue]='textColor === "blue"'
        [class.red]='textColor === "red"'
        [class.green]='textColor === "green"'
    >{{ card.text }}</p>

    <div class='buttons'>
       <button (click)='textColor = "blue"'>Set Blue</button>
       <button (click)='textColor = "red"'>Set Red</button>
       <button (click)='textColor = "green"'>Set Green</button>
    </div>

    <div class='buttons'>
        <button (click)='changeTitle()'>Change title</button>
        <button (click)='card.title = "Inline title"'>Change title inline</button>
    </div>

    <div>
        <strong>{{ cardDate | date:'dd MMMM yyyy HH:mm:SS':null:'ru' }}</strong>
    </div>
    <!-- <div>
        <input type="text" #myInput (input)='inputHandler(myInput.value)' [value]="title">
    </div> -->
    <div>
        <input type="text" [(ngModel)]='card.title' (ngModelChange)='changeHandler()'>
    </div>
</div>